.article-container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.article-style {
  img,
  video {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

